.manage-students {
    display: grid;
    gap: 4rem;
    margin: 10rem auto;
    padding: 4rem 1rem;
    background: var(--color-bg1);
    border-radius: 1rem;
    
}

.manage-student {
    display: grid;
    grid-template-columns: 30% 70%;
    border: 3px solid var(--color-bg2);
    width: 80%;
    justify-content: center;
}


.button-tabs {
    display: grid;
    gap: 0.5rem;
    margin-top: 1.2rem;
    
}

.button-tab {
    width: 100%;
    padding: 0.5rem;
    border-radius: 0.3rem;
}

aside {
    padding: 0.5rem;
    border: 3px solid var(--color-bg2);
}

.student-form {
    display: grid;
    gap: 0.5rem;
    padding: 1rem;
}

.headline {
    padding: 1rem;
    text-align: center;
}

.input-container {
    display: grid;
}

.input-container input {
    padding: 0.5rem 0.5rem;
    align-items: center;
    border-radius: 0.3rem;
}