.manage-students {
    display: grid;
    gap: 4rem;
    margin: 10rem auto;
    padding: 4rem 1rem;
    background: var(--color-bg1);
    border-radius: 1rem;
    
}

.manage-student {
    display: grid;
    grid-template-columns: 30% 70%;
    border: 3px solid var(--color-bg2);
    width: 80%;
    justify-content: center;
}


.button-tabs {
    display: grid;
    gap: 0.5rem;
    margin-top: 1.2rem;
    
}

.button-tab {
    width: 100%;
    padding: 0.5rem;
    border-radius: 0.3rem;
}

aside {
    padding: 0.5rem;
    border: 3px solid var(--color-bg2);
}

.student-form {
    display: grid;
    gap: 0.5rem;
    padding: 1rem;
}

.headline {
    padding: 1rem;
    text-align: center;
}

.input-container {
    display: grid;
}

.input-container input {
    width: 80%;
    margin: auto;
    padding: 0.5rem 0.5rem;
    align-items: center;
    border-radius: 0.3rem;
}

.settings-page {
    display: grid;
    justify-content: center;
    align-items: center;
    margin: auto;
    gap: 1rem;
    padding: 1.5rem;
}

.settings-page h3 {
    margin: auto;
}

.settings-form {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
}

label {
    font-family: sans-serif;
    font-size: 1rem;
    padding-right: 10px;
  }
  
  select {
    font-size: 0.9rem;
    padding: 1rem;
    border-radius: 0.2rem;
  }
